.container {
    display: block;
    /*background-color: rgba(255, 198, 205, 0.6);*/
    width: 70vw;
    height: 40vh;
    margin: 4em auto;
}

h2, p {
    margin: 3em auto;
}

h2 {
    font-size: 24px;
}

p {
    font-size: 20px;
}

.start-button {
    color: rgb(255, 255, 255);
    font-size: 20px;
    margin: 2em auto;
}

.start-button:hover {
    color: firebrick;
}