legend {
    font-size: 20px;
}

.create-button, .login-button {
    font-family: 'Federo', sans-serif;
    font-size: 16px;
    border-radius: 4px;
    color: blanchedalmond;
    background-color: firebrick;
}

.create-button:hover, .login-button:hover {
    cursor: pointer;
    color: black;
}

ul {
    padding: 0;
}