.search-button, .cancel-button {
    margin: 0.3em auto;
    font-family: 'Federo', sans-serif;
    font-size: 16px;
    border-radius: 4px;
    color: blanchedalmond;
    background-color: firebrick;
}

.search-button:hover, .cancel-button:hover {
    cursor: pointer;
    color: black;
}