legend {
    font-size: 20px;
}

.tasting-notes {
    min-height: 10vh;
}

.add-button {
    font-family: 'Federo', sans-serif;
    font-size: 16px;
    border-radius: 4px;
    color: blanchedalmond;
    background-color: firebrick;
}

.add-button:hover {
    cursor: pointer;
    color: black;
}