legend {
    font-size: 20px;
}

.wine_type {
    width: 51vw;
    height: 28px;
    border-radius: 4px;
    margin: 0.5em auto;
    color: gray;
}

.tasting_notes {
    min-height: 10vh;
}

.add-button {
    font-family: 'Federo', sans-serif;
    font-size: 16px;
    border-radius: 4px;
    margin-top: 0.5em;
    color: blanchedalmond;
    background-color: firebrick;
}

.add-button:hover {
    cursor: pointer;
    color: black;
}