.search-wine-list {
    max-width: 40vw;
    margin: 0.5em auto;
    text-align: center;
}

.search-wine-item {
    list-style-type: none;
	display: block; 
    text-align: left;
    margin: 1.5em auto;
    padding: 0;
}

img {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 0;
}