@import url('https://fonts.googleapis.com/css2?family=Federo&display=swap');

ul {
    list-style-type: none;
}
  
body {
    text-align: center;
    color: blanchedalmond;
    font-family: 'Federo', sans-serif;
    background: url(./images/app-background.jpg)center center no-repeat fixed;
    background-size: cover;
}

h1 {
    margin: 0.5em auto;
    font-size: 48px;
    font-weight: bolder;
    color: blanchedalmond;
    /*background-color: rgba(110, 90, 70, 0.7);*/
}

input {
    width: 50vw;
    height: 2em;
    border-radius: 4px;
    margin: 0.5em auto;
}

@media only screen and (min-width: 800px) {
input {
    width: 40vw;
}
}