@import url('https://fonts.googleapis.com/css2?family=Federo&display=swap');

ul {
    list-style-type: none;
}
  
body {
    text-align: center;
    color: rgb(226, 225, 225);
    font-family: 'Federo', sans-serif;
    background: url('./images/grape-corkscrew.jpg')center center no-repeat fixed;
    background-size: cover;
}

main {
    background-color: rgba(0, 0, 0, 0.3);
    min-height: 84vh;
    border-radius: 5px;
}

h1 {
    margin: 0.5em auto;
    font-size: 48px;
    font-weight: bolder;
    color: rgb(59, 59, 59);
    /*background-color: rgba(110, 90, 70, 0.7);*/
}

input {
    width: 50vw;
    height: 2em;
    border-radius: 4px;
    margin: 0.5em auto;
}

@media only screen and (min-width: 800px) {
input {
    width: 40vw;
}
}