.nav-links {
    display: flex;
    justify-content: space-around;
    list-style-type: none;

}

.nav-link {
    color: rgb(46, 46, 46);
    font-size: 20px;
}

.nav-link:hover {
    color: firebrick;
}

.logout-link {
    color: black;
    font-size: 20px;
}

.logout-link:hover {
    color: firebrick;
}