.nav-links {
    display: flex;
    justify-content: space-around;
    list-style-type: none;

}

.nav-link {
    color: rgb(255, 255, 255);
    font-size: 20px;
}

.nav-link:hover {
    color: firebrick;
}

.logout-link {
    color: white;
}

.logout-link:hover {
    color: firebrick;
}